* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'DM Sans', sans-serif;
}

/*uti*/
.col-2 {
    width: calc(100% / 12 * 2);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.ta-center {
    text-align: center;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

/*uti*/



/*nav*/
nav {
    height: calc(100vh - 90px);
    width: 230px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;

}

.logo,
.cell {
    width: 100%;
}



/*nav*/

/*main*/



main {
    padding-top: 55px;
    height: calc(100vh - 90px);
    width: calc(100vw - 230px);
    position: fixed;
    left: 230px;
    overflow: scroll;
    background-color: #141922;
}

.filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.upgrade_flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 55px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.274);
    position: fixed;
    width: calc(100% - 248px);
    top: 0;
}

.recently_played>h2,.creato_per>h2, .artisti>h2 {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 25px;
    color: white;


}
.creato_per>span,.artisti>span{
    margin-left: 25px;
    
    color: #76787D;
}

.recently_played>.flex {
    flex-wrap: wrap;
}
.creato_per>.flex {
    flex-wrap: wrap;
}





.card,
.card_circle {
    margin-left: 20px;
    width: 177px;
}

.upgrade a {
    color: white;
    padding: 8px 25px;
    border: 1px solid white;
    border-radius: 25px;


}

.filter .type {
    padding: 0 5px;
    margin-top: 22px;
}

.type a {
    color: #76787D;
    font-size: 15px;
}

.card_img img, .card_img_circle img {
    width: 177px;
    aspect-ratio: 1;

}
.card_img_circle img{
    border-radius: 50%;
}
.card{
    position: relative;
    padding-top: 10px;
}

.card_text h2 {
    color: white;
    font-size: 17px;
}

.card_text span {
    color: #76787D;
    font-size: 15px;
}

.overlay{
    width: 177px;
    aspect-ratio: 1;
    position: absolute;z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.555);
    display: none;
}
.overlay span{
    color: white;
    font-size: 20px;
}

.artisti, .creato_per, .recently_played{
    padding-top: 20px;
}


/*main*/
/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #282828;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/*footer*/
/*hover*/
.filter a:hover {
    border-bottom: 1px solid #ADFF2F;
}
.card:hover .overlay{
    display: block;
}

/*hover*/



/*small*/
@media screen and (max-width:552px) {

    /*nav*/
    nav {
        width: 50px;
    }

    .semipermanent {
        display: none;
    }

    /*nav*/
    /*main*/
    main {
        width: calc(100vw - 50px);

        left: 50px;
    }

    .upgrade_flex {
        width: calc(100% - 68px);
    }

    .type a {
        font-size: 13px;
    }

    /*main*/

}

/*small*/
/*debug*/
.debug main {
    background-color: lightgreen;

}

.debug nav {

    background-color: black;

}

.debug footer {
    height: 90px;
    background-color: lightslategray;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.debug .col-2 {
    height: 90%;
    background-color: plum;
}

.debug .logo {
    background-color: blanchedalmond;
    height: 85px;
}

.debug .cell {
    background-color: azure;
    height: 35px;
    border: 1px dashed;
}

.debug .new_playlist {
    background-color: aquamarine;
    height: 45px;
}

.debug .profile {
    height: 75px;
    background-color: aqua;
}

.debug .type {
    width: 100px;
    height: 30px;
    background-color: cadetblue;
    border: 1px dashed;
}


.debug .card_img {
    height: 170px;
    aspect-ratio: 1;
    background-color: blueviolet;
}

.debug .card_img_circle {
    height: 170px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: blueviolet;
}

.debug .card_text {
    width: 100%;
    height: 30px;
    background-color: cadetblue;
}

.debug .card_text_circle {
    width: 100%;
    height: 30px;
    background-color: cadetblue;
}

.debug .card,
.card_circle {
    width: fit-content;
    margin-top: 30px;
}